.meditaciones-parrafos h2{
    margin-top: 4rem;
    text-align: center;
}
.videosyoutu{
    margin-top: 3rem;
    margin: 0 auto;
    
}

.bmeditar{
    @extend .bodydegree;
}

.instruccionesmeditacion{
    text-align: center;
}

.barraprogreso,.barraprogreso1{
    width: 100%;
    border: solid 1px;
    height: 7px;
    margin-top: 30px;
    
}
.barracompletando{
    border: solid 1px;
    height: 6px;
    width: 50%;
    background-color:yellow; 
    animation:meditacion 5s infinite;
    display: flex;
    justify-content: center;
}

@keyframes meditacion {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}



.posiciones{
    font-size:3rem;
    font-family:'PT Serif', serif;
    margin-bottom: 2rem;
    
    
    
}

.meditacionescortas{
    font-size:3rem;
    font-family:'PT Serif', serif;
    margin-top: 20rem;
    padding: 2rem;
    background-color: #f14865;
    
}
.meditaciones-parrafos {
    margin-top: 5rem;
    
}



.meditar1 {
    grid-area: "meditar1";
}


 


