.solfoto{
    /*margin-left: 57rem;*/
    width: 35%;
    margin-bottom: 3rem;
    padding: 5rem;
}

.binicio{
    background-image: url(../img/cielo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carouselslide{
    margin-bottom: 20rem;
}





button{
    margin-top:1rem;
    padding: 1.5rem;
    background-color: #f14865;
}

.servicios-ofrecidos{
    margin-bottom: 3rem;
    text-align: center;
    padding: 4rem;
    background-color: #f14865;
    padding: 1rem;
     
   
}



.titulosoy{
    padding: 1.0rem;
    background-color: #f14865;
    
    

    
}


.sobremi{
    width: 65%;
    margin-top: 5rem;
    padding: 6rem;
       
}




.tips__clases{margin-left: auto;
    
    background-color: #f19aa8;}



   
   
    .elevalavibracion li, .vibracion li{ 
        font-size: medium;
        margin-bottom: 8rem;
        background-color: yellow;
        text-align: center;
        padding: 1.5rem;
        font-style: italic;
        font-weight: bolder;
        display: inline;
        margin-left: 6rem;
    }

       

    
    
    .ol.vibracion , .olelevalavibracion {
        padding-left: 0px;
    }

   
       
    
    #consejos-meditacion{
        text-align: center;
        line-height: 5;
        border:solid pink;
        margin: 170px;;
        background-color: #f7eeef;
        margin-right: 170px;
    }
        

    


   
    

    .muchasgracias{
        margin-top: 1rem;
    
    }

    .btn-primary{
        @extend .botones-generales;

    }

   
    



