.ubicacionmapa{

    text-align: center;
    margin-top: 10rem;
    
   }
  
   .mapa__salta{
    margin-top: 4rem;
    margin: 0 auto;

    
   }
   .logo-wpp{
    width: 30px;
   }
   
    .botton{
        @extend.botones-generales;
    }
   