
  
   .mapa__salta{
    margin-top: 4rem;
    margin: 0 auto;

    
   }

   .bcontacto{
    @extend .bodydegree;
   }


   .logo-wpp{
    width: 30px;
   }
   
    .enviarc{
        @extend .botones-generales;
    }

   
      
    .formc{
        @include flex-column;
        flex-direction: row;
        border:solid pink;
        margin: 250px;
        padding: 8rem;
        margin-top: 8rem;
    }

    .fieldsetc{
        color: black;
    }
       

    
   