@media screen and (max-width: 1050px) {

    #consejos-meditacion, .tips, .elevalavibracion, .vibracion{
        display: flex;
        flex-direction: column;
        
    }

   #consejos-meditacion{
       width: 60%;
       margin: 0 auto;
       margin-top: 10rem;
          
   }

  

   .tips, .elevalavibracion, .vibracion{
       
        width: 80%;
        padding: 0px;

   }

    #descripcion,.soy, .sobremi, .solfoto{
          
        flex-direction: column;
        
        
    }

    #descripcion{
        width: 80%;
        margin: 0 auto;
        
    }

    .soy{
        width:95%;
    }
    .sobremi, .solfoto{
        padding: 0px;
        margin-top: 2rem;
        
    }

    #cartas{
        display: flex;
        flex-direction: column;
        margin: left 0;;
    
        }

        #cartas p {
            padding-right:5rem;
            text-align: center;
        }
        .cartaelsol{
            width: 20rem;
            height: 30rem;

        }

        .mapa__salta{
            position: relative;
            max-width: 100%;
            height: 300px;
            width: 300px;
        }

        .navbar-nav{
            margin: auto;
 
        }


        .binicio{
            @extend .bodydegree;

        }

        .bastrologia{
            background-image: url(../img/8c7abb873b05c6731c435e5a413dd4a7.jpg);
            background-repeat: no-repeat;
            background-size: cover;
           }
        
           .astros {
            display: flex;
            justify-content: center;
            width: 100%;
            color:aliceblue;
        }
        
        .tastros{
            color: aliceblue;
            margin-top: 10rem;
        
        }
        
        footer{
               margin-top: 1rem;
        }
        #cardservicios{
            row-gap: 2rem;
        }

 }
     
 

  @media screen and (max-width:500px) {

            #cardservicios{
                @include grid-column;}
                

                .elevalavibracion li,.vibracion li {

                    padding:1rem;
                    display: inline;
                    margin-left: 7rem; } 
            
                
                #consejos-meditacion{
                    width: 75%;
                    margin: 0 auto;
                }

           #descripcion,.soy, .sobremi, .solfoto{
          
        flex-direction:row;
        
                }

         #descripcion{
         width: 100%;
         margin: 0 auto;
        
                }

        .soy{
        width:95%;
            }

     .sobremi, .solfoto{
        padding: 0px;
        margin-top: 2rem;
        
          }

    p{
        margin: 2rem;
    }

   
}  

              